body
{
border-top: 5px solid #6fece6;

font-family: 'Open Sans', sans-serif;
color: #333333;}


.green_bg{
  background: #6fece6;
  padding: 200px 0

}
.white_bg{
  background: #fff;
  padding-top: 150 ;
  padding-bottom: 250;

}
.pink_bg{
  background: #fed2df;
  padding: 0px 0;
  padding-top:30px;
}

p
{
margin: 0px 50 0 50;
line-height: 25px;}

a
{
text-decoration: none;
color: inherit;
transition: color .5s ease;}

strong
{
font-weight: bold;}
header
{
position:relative;
width:auto;
max-width:900px;
margin: 0 auto auto auto;}

header h1
{
width:auto
margin: 0 0 0 0;
font-size: 60px;
color: black;
text-align: center;
font-family: 'Baumans', cursive;}
.subheading{
  width:auto
  margin: 0 0 0 0;

  color: black;
  text-align: center;
  font-family: 'Baumans', cursive;}
}

header p
{
font-family: 'Open Sans', sans-serif;
font-size: 16px;
color: #4A463B;
margin-left:35px;}
h2
{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #4A463B;}
}
nav
{
        position:absolute;
        right:0;
        bottom:0;

}
nav ul
{
list-style:none;}

nav ul li
{
display:block;
float:right;
padding:0px 10px;
margin-top: }

nav ul li a
{
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
transition: all .25s ease;}

nav ul li a:hover
{
color: #fff;}

#two article.column1
{
margin-top: -100;
font-size:17px;
float:left;
width:650px;
}
#two .column2
{
  margin: -100 0 0 50px;
  position:relative;
  float:right;
  width:350px;
}
.slides{
  position: relative;
  text-align: center;
  display:inline-block;
  padding-top: -150 0;


  }


footer
{
position:relative;
clear:both;
width:auto;
background: #ffff00;
text-align: center;
padding-top: 50;
height:350px;
}

.social{
display:inline-block;
text-align: center;
}
.logo {
  float:left; padding:30px;}
.social a{
transition: opacity .25s ease;
opacity: 0.3;
margin-left:;
display:block;
}

.social a:hover
{
opacity: 0.7;}




.hidden
{
position:absolute;
clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
clip: rect(1px, 1px, 1px, 1px);}
